__pycache__/*.pyc
api/__pycache__/*.pyc
core/__pycache__/*.pyc
services/__pycache__/*.pyc
*.log
.DS_Store
.vscode/
env/
venv/
.idea/
*.sqlite3
*.db
*.egg-info/
dist/
build/
*.pytest_cache/
.pytest_cache/
__pypackages__/ 
modules/
.env
